<ng-container *ngIf="loading; else loaded">
  <h2>Cargando...</h2>
</ng-container>
<ng-template #loaded>
  <ng-container *ngIf="success; else failed">
    <div class="control-content">
      <mat-card>
        <mat-card-title-group>
          <mat-card-title>{{ robot.alias }}</mat-card-title>
          <mat-card-subtitle>{{ robot.model }}</mat-card-subtitle>
        </mat-card-title-group>

        <mat-card-content> </mat-card-content>

        <mat-card-actions *ngIf="isOnline()">
          <button
            *ngIf="!isArm"
            mat-raised-button
            [disabled]="isArm"
            color="primary"
            (click)="changeArm()"
          >
            Eyectar brazo
          </button>
          <button
          *ngIf="isArm"
            mat-raised-button
            [disabled]="!isArm"
            color="primary"
            (click)="changeArm()"
          >
            Contraer brazo
          </button>
        </mat-card-actions>
      </mat-card>

      <div *ngIf="control$ | async" class="joyArea">
        <ng-container *ngIf="robotOnline; else notRobot">
          <div id="joyDiv" class="joystick"></div>
        </ng-container>
        <ng-template #notRobot>
          <div class="notFound">
            <h2>Equipo fuera de línea</h2>
          </div>
        </ng-template>
      </div>
    </div>
    <!-- <h2>{{ robot.alias }}</h2> -->
  </ng-container>

  <ng-template #failed>
    <h3>Oops, algo salió mal.</h3>
  </ng-template>
</ng-template>
