<ng-container *ngIf="loading; else loaded">
  <h2>Cargando...</h2>
</ng-container>
<ng-template #loaded>
  <ng-container *ngIf="success; else failed">
    <h2>{{ robot.alias }}</h2>

    <div *ngIf="control$ | async" class="joyArea">
      <ng-container *ngIf="robotOnline; else notRobot">
        <div
          id="joyDiv"
          style="width: 200px; height: 200px; margin-bottom: 20px"
        ></div>
      </ng-container>
      <ng-template #notRobot>
        <p>Equipo fuera de línea</p>
      </ng-template>
    </div>
  </ng-container>

  <ng-template #failed>
    <h3>Oops, algo salió mal.</h3>
  </ng-template>
</ng-template>
