<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar class="sidenav-title">Menu</mat-toolbar>
    <mat-nav-list class="sidenav-options">
      <a
        mat-list-item
        *ngFor="let option of navOptions"
        [routerLink]="[option.path]"
        >{{ option.title }}</a
      >
    </mat-nav-list>
    <div class="logout-button">
      <button mat-raised-button (click)="logout()">Cerrar sesión</button>
    </div>
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      (click)="drawer.toggle()"
      *ngIf="isHandset$ | async"
    >
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span>RMRO Web</span>
  </mat-toolbar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
