<ng-container *ngIf="robots$ | async as robots; else notData">
  <table
    *ngIf="robots.length > 0"
    mat-table
    [dataSource]="robots"
    class="mat-elevation-z8"
  >
    <!-- Alias Column -->
    <ng-container matColumnDef="alias">
      <th mat-header-cell *matHeaderCellDef>Alias</th>
      <td mat-cell *matCellDef="let element">{{ element.alias }}</td>
    </ng-container>

    <!-- Model Column -->
    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef>Modelo</th>
      <td mat-cell *matCellDef="let element">{{ element.model }}</td>
    </ng-container>

    <!-- Serial Number Column -->
    <ng-container matColumnDef="serial_number">
      <th mat-header-cell *matHeaderCellDef>Número de serie</th>
      <td mat-cell *matCellDef="let element">{{ element.serial_number }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <p *ngIf="robots.length == 0">No hay datos</p>
</ng-container>

<ng-template #notData>
  <p>No hay datos</p>
</ng-template>
